/* Empty. Add your own CSS if you like */
input::-webkit-input-placeholder { /* projedeki tum input içinde yaznlar mor renk olur*/
 color:purple;
}
.ion-person-stalker{/*biz iconlarıda class içinde tanımladığımızdan . ile başlatarak yazarız */
	color:#FF4500;
}
.ion-log-out{
	color:red;
}
.bar-message{
	background-color:pink;
}
.loginkull{ /* login sayfası okun yanındaki yaz*/
	padding:11px 25px;
	position:relative;
}
.araclass{
 background-color:#999900;
}
.messageclass{
	 background-color:white;
}
/* burada sadece posizyon ve arka plan rengi verdim */
.kull{
	padding:12px 25px;
	/*background:#0099FF;*/
	position:absolute;
	right:0px;/*böylelikle yazıyı sag köşeden başlattım*/
}
.kull:before{
	content:"";
	position:absolute;
	background:green;
	width:10px;
	height:10px;
	left:8px;
	top:15px;
	border-radius:5px;
}
.msg_a{
	margin-top:15px;
	margin-right:20px;
	margin-left:20px;
	padding:20px;
	background:pink;
	position:relative;
	border-radius:35px;
}

/*kutucuklara ok işareti burda verildi 
.msg_a:before{
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	top:7px;
	left:-29px;
	border:15px solid;
	border-color:transparent blue transparent transparent;
	} */







