<ion-view view-title="sayfamız" class="araclass">
<ion-header-bar class="bar-blue"> <!-- baslık için yer ayırırır -->
<h1 class="title">Profil Sayfası</h1>
</ion-header-bar>
  <ion-content>
<body>
<div ng-controller="AppCtrl">
<img style="width:15px,height:20px;" src="img/face.png"/> <!-- profil resmi -->
<font size="4" face="Arial" color="black">{{girad}}</font>
  <p></p>
<p>İş ve Eğitim:{{girdep}}</p>
<p>Yaşadıgı Yerler:yok</p>
<p>İletişim Bilgileri ve Temel Bilgiler:yok</p>
<p>Yaş:{{girnum}}</p>
<p>Email Adresi:{{girad}}{{girnum}}@hotmail.com</p>

<button ng-click="arkadaskaydi()" class="button button button-positive">Arkadaşı Ekle</button>
{{yazi}} <!-- arkadas olarak eklendi yazısı bu değişkene atıldı -->
    <button ng-click="mesajlasma()" class="button button button-positive">Mesaj Gönder</button>
	</div>
</body>	
  </ion-content>
</ion-view>