<ion-view view-title="Arama Sonucları">
  <ion-content>

	 <body ng-app="starter.controllers">
 <div ng-controller="brws">
            <form name="addbrws" method="post">
isim:
<hr>
<input type="text" ng-model="brws.Username" name="Username" autocomplete="off"
 placeholder="örn:ali sert" typeahead="stuff for stuff in yeniler()|filter:$viewValue |limitTo:10" typeahead-min-length='1'class="form-control">
 <hr>
 <button ng-click="bilgiler()" class="button button-block button-positive">görüntüle</button>

  </form>     
  </div>
  </body> 

  </ion-content>
</ion-view>












