<ion-modal-view>
	<ion-header-bar>
  <div class="buttons">
	 <button ng-click="closeLogin()" class="button button-icon icon ion-arrow-left-c">
</button>  
    </div>
	<div class="loginkull">
<font size="3" face="Arial" color="black">Kullanıcı Kaydı</font>
	</div>
	</ion-header-bar>
  
   
  <ion-content>
   <body ng-app="starter.controllers">

 <div ng-controller="newInvoice">
            <form name="addinvoice" method="post">
			
			    <label class="item item-input">

                <input type="text" placeholder="ad-soyad gir" ng-model="newInvoice.Username" name="Username"/>

				</label>

				<label class="item item-input">

                <input type="text" placeholder="numara gir" ng-model="newInvoice.Password" name="Password"/>

				</label>

				<label class="item item-input">

                <input type="text" placeholder="bölüm gir" ng-model="newInvoice.department" name="department"/>

				</label>
	 <button ng-click="addNewInvoice()" name="add" class="button button-block button-positive">normal-kayıt</button>
            </form>
			
  </div>
  </body>
  </ion-content>
</ion-modal-view>

