<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
   <!-- <ion-nav-bar class="bar-calm">  burada calm diyerek başlıgın arka plan rengini değiştik  aşagıdaki ile arkaplan rengini beyaz yaptık-->
    <ion-nav-bar>
	<ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
	  <div ng-controller="AppCtrl">
	  
        <button class="button button-icon icon ion-navicon" menu-toggle="left" ng-click="say()">
        </button>
		</div>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
 <!--   <ion-header-bar class="bar-energized">  baslık rengini burdan veriyoruz  alt taraf başlıgın arkaplan rengini beyaz saglar-->
	<ion-header-bar>
      <h1 class="title">
	  	 <font size="3" face="Terminal" color="blue">
		 {{sifre}}
		 </font>
		 </h1>
    </ion-header-bar>
	
    <ion-content> 
      <ion-list>
	  <ion-item menu-close href="#/app/sessions">
		<img src="img/oturumicon.jpg"/>
		 <font size="3" face="Terminal" color="blue">
         Anasayfa </font>
        </ion-item>
	  
        <ion-item menu-close ng-click="login()">
	      <img src="img/ac.png"/> <!-- icon boyutuna getirip resim olarak ekledim -->
		 <font size="3" face="Terminal" color="blue"> <!-- yazı rengi,boyutu,tipi -->
          Kullanıcı Ekle </font>
        </ion-item>
    <!-- başlangıçta var bu sayfa
    <ion-item menu-close href="#/app/search">
		 	<img src="img/oturum.png"/>
		  <font size="3" face="Terminal" color="blue">
         session-kontrolü </font>
        </ion-item> -->
        <ion-item menu-close href="#/app/browse">
		<img src="img/ficon.png"/>
		 <font size="3" face="Terminal" color="blue">
          mesajlar </font>
        </ion-item>
        
		
		<ion-item>
	<body ng-app="menuapp" ng-controller="AppCtrl">
	 <button ng-click="silme()" class="button button-icon icon ion-log-out">
	  <font size="3" face="Terminal" color="blue">
	 logout 
	 </font>
	 </button>
	 <hr>
	<div ng-if="yeni1=='true'"><!--- navicon işaretine tıklandı mı kontrol burdan -->
	 <font size="3" face="Terminal" color="blue">
	bildirimler:
	 {{yaz}} 
	 </font>
</div>
	<div ng-if="yeni2=='true'">	 <!-- burada kontrole gösterip göstermeme gibi durumunu kontrol ediyoruz -->
	<button ng-click="gor()" class="button button-icon icon ion-chatbubble-working">
	mesajı açmak için tıklayın
	</button> 
	</div>
</body>
	 </ion-item>
	 <!--
	 	<ion-item>
	<body ng-app="menuapp" ng-controller="AppCtrl">
	<!-- <input type="button" value="sil" ng-click="silme()"/> 
	 <button ng-click="silme()" class="button button-icon icon ion-log-out">
	  <font size="3" face="Terminal" color="blue">
	 logout 
	 </font>
	 </button>
	 <hr>
	 <button ng-click="say()" class="button button-icon icon ion-email-unread">
	 <font size="3" face="Terminal" color="blue">
	mesajlar:
	 {{yaz}} 
	 </font>
	</button>
	<div ng-if="yeni=='true'">	 <!-- burada kontrole gösterip göstermeme gibi durumunu kontrol ediyoruz 
	<button ng-click="gor()" class="button button-icon icon ion-chatbubble-working">
	mealsa
	</button> 
	</div>
</body>
	 </ion-item>
	 -->
	
      </ion-list>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>









