<ion-view view-title="" class="messageclass">
 <ion-nav-bar> <!-- ion-nav-bar tegleri ile butonu saga dayalı olacak şekilde ayarladık -->
      <ion-nav-buttons side="left">
      <div ng-controller="AppCtrl">
<button ng-click="kapat()" class="button button-icon icon ion-arrow-left-c">
</button>
<!--
<button ng-click="kapat2()" class="button button-icon icon ion-trash-b">
</button>  -->
</div>
      </ion-nav-buttons>
    </ion-nav-bar>
	
  <body ng-app="starter.controllers">
	    
    <ion-header-bar class="bar-message"> <!-- burada class açtık ki arkaplan rengini ayarlayalım -->
<div class="kull">
<font size="4" face="Arial" color="black">{{girilenisim}}</font>
</div>  
   </ion-header-bar>
	     <ion-content>
		 <div ng-controller="AppCtrl">
		 
<div ng-repeat="chat in chats"> 
<!--
<div ng-if="chat.user==girilenisim ||(girilenisim=='zeynep koyun'||chat.user=='zeynep koyun' )" class="msg_a">
{{chat.user}}:{{chat.mesg}} </div> -->

<div ng-if="(chat.adi==girilenisim && chat.gond==oturumismi)||(chat.adi==oturumismi && chat.gond==girilenisim)">
<div class="msg_a">
{{chat.adi}}:{{chat.mesg}}
<br>{{chat.saat}}
<button ng-click="remove(chat)">Remove</button>
</div>
</div>
</div> 

	   <ion-footer keyboard-attach class="bar-stable item-input-inset">  
	 <label class="item-input-wrapper">
        <input ng-keyup="$event.keyCode == 13 && sendMessage()" type="text" placeholder="Bir mesaj yazın" ng-model="msgctrl.msg"/>
      </label> 
	  <button class="button button-positive" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer> 
	</div> 
	  </ion-content>
  </body> 
</ion-view>
