<ion-view view-title="Search">
<ion-header-bar>
<h1 class="title">Login</h1>
</ion-header-bar>
  <ion-content>
	<body ng-app="starter.controllers">

	<div ng-controller="ctrl">
	<form name="addinvoice" method="post">
               <label class="item item-input">
            <input type="text" placeholder="kullanıcıadınıgirin" ng-model="ctrl.Username" name="Username"/>
				</label>
				<label class="item item-input">
          <input type="password" placeholder="şifrenizigirin" ng-model="ctrl.Password" name="Password"/><!-- şifre olarak girilen gözükmesin-->
				</label>
		<button ng-click="yap()" class="button button-block button-assertive">Giriş</button>
				</form>	
	<!--			
veritabanındaki veriler:
<br><table>
 <tr ng-repeat="user in mydata">
 <td>{{user.number}}</td><td>{{ user.name }}</td>
 </tr>
 </table>   -->
	</div>			
	</body>
  </ion-content>
</ion-view>
 

 