<ion-view view-title="Başlangıç">
<body>
  <ion-content>
  <div ng-controller="AppCtrl">

<ion-slide>
<img style="width:600px;height:600px;alignment-adjust:middle;" src="img/kapak1.jpg"/>
</ion-slide>
</div>
  </ion-content>
  </body>
</ion-view>
